//@import "@/assets/styles/tailwind.css";

body, html {
    height: 100%
}

.icon {
    background-repeat: no-repeat;
    background-size: cover;
}

.error {
    @apply bg-red-500

}

//Fade transition

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

input:disabled+label {
  @apply opacity-25
}